/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/screen.scss */
body {
  height: 100%;
  width: 100%;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  background-color: #dbb623;
  color: white;
}

/* line 10, ../sass/screen.scss */
p, a {
  font-weight: 400;
  color: white;
  letter-spacing: 2px;
}

/* line 15, ../sass/screen.scss */
.info {
  width: 30px;
  height: 30px;
  font-size: 30px;
  margin-top: 5px;
  position: fixed;
  left: 20px;
  bottom: 10px;
  cursor: pointer;
}

/* line 25, ../sass/screen.scss */
.contact {
  display: none;
  position: fixed;
  left: 60px;
  bottom: 20px;
  font-size: 11px;
  text-transform: lowercase;
}
/* line 32, ../sass/screen.scss */
.contact a {
  text-decoration: none;
  cursor: pointer;
}

/* line 37, ../sass/screen.scss */
.header {
  padding: 20px;
}
/* line 39, ../sass/screen.scss */
.header a {
  text-decoration: none;
}
/* line 42, ../sass/screen.scss */
.header .left {
  display: inline-block;
  float: left;
}
/* line 46, ../sass/screen.scss */
.header .right {
  display: inline-block;
  float: right;
}
/* line 49, ../sass/screen.scss */
.header .right .circle {
  border: 1px solid white;
  height: 30px;
  width: 30px;
  margin-right: 10px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  display: inline-block;
  float: right;
}

/* line 63, ../sass/screen.scss */
.center-container {
  position: relative;
}

/* line 66, ../sass/screen.scss */
.absolute-center {
  width: 50%;
  height: 100px;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}
/* line 77, ../sass/screen.scss */
.absolute-center .switcher {
  font-size: 12px;
  margin-top: 30px;
  display: inline-block;
  text-transform: uppercase;
  margin-right: 15px;
}
/* line 85, ../sass/screen.scss */
.absolute-center .switcher span#mode {
  cursor: pointer;
}
/* line 89, ../sass/screen.scss */
.absolute-center .add-colour {
  font-size: 12px;
  margin-top: 30px;
  text-transform: uppercase;
  margin-right: 15px;
  margin-left: 15px;
  display: inline-block;
  cursor: pointer;
}
/* line 99, ../sass/screen.scss */
.absolute-center .add-colour.hidden {
  display: none;
}
/* line 103, ../sass/screen.scss */
.absolute-center .colour-field {
  font-weight: 300;
  font-size: 37px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-right: 15px;
  display: block;
  clear: both;
}

/* line 115, ../sass/screen.scss */
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
